body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 320px;
  padding: 16px 16px 40px 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image-container {
  margin-bottom: 24px;
}

.qr-code {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.title {
  font-weight: 700;
  color: #1F314F;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 120%;
}

.instructions {
  font-weight: 400;
  color: #68778D;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.text-container {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}